# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=your_postgres_username
DB_PASSWORD=your_postgres_password
DB_NAME=debby_shop

# Application Environment
NODE_ENV=development
PORT=3001